/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion RESET*/

/* #region DEBUG*/

.debug header {
    height: 75px;
}

.debug header .container {
    height: 100%;
}

.debug .logo,
.debug .header-link {
    background-color: blueviolet;
}

.debug .row {
    background-color: blueviolet;
}

.debug .border {
    border: 2px solid black;
}


.debug .preview .col {
    height: 345px;
}


.debug .strategic-planning .col-big {
    background-color: aqua;
    height: 805px;
}

.debug .col-big .img-container,
.debug .col-big .text-container {
    height: 50%;
}

.debug .partners .col {
    height: 280px;
}

/* #endregion DEBUG*/

/* #region COMMON*/

.flex {
    display: flex;
}

div.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

ul {
    list-style: none;
}

.row {
    flex-wrap: wrap;
}




/* #endregion COMMON*/

/* #region HEADER*/

header {
    background-color: #0084fd;
    margin-bottom: 50px;
}

header div.container {
    justify-content: space-between;
    align-items: center;
}

header .header-link i {
    display: none;
}

header ul {
    gap: 35px;
}


/* #endregion HEADER*/

/* #region MAIN*/

/* prima section*/

.preview {
    margin-bottom: 100px;
}

.preview .first-row :first-child {
    flex-grow: 1;
}

.preview .col {
    background-color: #b5ddff;
    width: calc((100% - 50px) /3);
    border-radius: 12px;
}

.first-row {
    margin-bottom: 25px;
    gap: 25px;
}

.second-row {
    gap: 25px;
}

/* seconda section*/

.strategic-planning {
    background-color: #9792e4;
    padding: 60px 0;
    margin-bottom: 65px;
}

.strategic-planning .col-big {
    width: 50%;
}

/*terza section*/

.partners h2 {
    margin-bottom: 50px;
    text-align: center;
}

.partners .col {
    background-color: #9792e4;
    border-radius: 15px;
    margin-bottom: 25px;
}

.partners .img-container {
    width: 25%;
    border-radius: 15px;
}

.partners .text-container {
    width: 75%;
    border-radius: 15px;
}


/* #endregion MAIN*/

/* #region FOOTER*/
/* #endregion FOOTER*/

/* #region MEDIA QUERES*/

/*tablet breakpoint*/
@media screen and (max-width: 992px) {

    .header-link ul {
        display: none;
    }

    header .header-link i {
        display: inline-block;
    }

    .debug .preview .first-row .col {
        height: 565px;
    }

    .debug .preview .second-row .col {
        height: 435px;
    }

    .strategic-planning .container {
        display: block;
    }

    .strategic-planning .col-big {
        width: 100%;
    }


}

/*mobile breakpoint*/
@media screen and (max-width: 768px) {

    .preview .first-row,
    .preview .second-row {
        display: block;
    }

    .preview .col {
        width: 100%;
        margin-bottom: 25px;
    }

    .debug .preview .first-row.col,
    .debug .preview .second-row.col {
        height: 355px;
    }

    .debug .preview .first-row :first-child {
        height: 595px;
    }

    .partners .col {
        flex-direction: column;
    }

    .partners .img-container,
    .partners .text-container {
        width: 100%;
    }

    .partners .img-container {
        height: 40%;
    }

    .partners .text-container {
        height: 60%;
    }

}

/* #endregion MEDIA QUERES*/