/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion RESET*/

/* #region VARIABLES*/

:root {
    --blue: #0084fd;
    --sky: #b5ddff;
    --purple: #9792e4;
    --orange: #fdc15f;
    --grey: #333333;
    --blueish-grey: #5a6e7f;
}

/*#endregion VARIABLES*/

/* #region DEBUG*/

.debug .row {
    background-color: blueviolet;
}

.debug .border {
    border: 2px solid black;
}


.debug .strategic-planning .col-big {
    background-color: aqua;
    height: 805px;
}

.debug .col-big .img-container,
.debug .col-big .text-container {
    height: 50%;
}

.debug .partners .col {
    height: 280px;
}

.debug .benefits .col {
    height: 420px;
}

.debug .about-us .row {
    height: 635px;
    background-color: blueviolet;
}

.debug .about-us .img-container {
    height: 50%;
}

.debug .get-started .text-container {
    background-color: blueviolet;
    height: 500px;
}

.debug footer {
    height: 225px;
}

/* #endregion DEBUG*/

/* #region COMMON*/

body {
    font-family: 'PT Sans', sans-serif;
}

.flex {
    display: flex;
}

div.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
}

ul {
    list-style: none;
}

.row {
    flex-wrap: wrap;
}

section:nth-of-type(even) {
    background-color: #9792e4;
}

.text-center {
    text-align: center;
}

.btn {
    all: unset;
    background-color: var(--purple);
    color: #fff;
    border-radius: 20px;
    padding: .9375rem 3.125rem;
}

.btn:hover {
    cursor: pointer;
}

.normal {
    background-color: #fff;
    color: black;
    padding: 7px 15px;
}

img {
    width: 100%;
    display: block;
}




/* #endregion COMMON*/

/* #region HEADER*/

header {
    background-color: var(--blue);
    margin-bottom: 3.125rem;
}

header div.container {
    justify-content: space-between;
    align-items: center;
}

header .header-link i {
    display: none;
}

header ul {
    gap: 35px;
    align-items: center;
}

header .logo {
    padding: 15px 0;
}

header a {
    text-decoration: none;
    color: white;
}

.header-link i {
    color: #fff;
}


/* #endregion HEADER*/

/* #region MAIN*/

/* prima section*/

.preview {
    margin-bottom: 100px;
}

.preview .first-row :first-child {
    flex-grow: 1;
}

.preview .col {
    background-color: #b5ddff;
    width: calc((100% - 50px) /3);
    border-radius: 12px;
    padding: 2.1875rem 1.5rem 0;
}

.first-row {
    margin-bottom: 25px;
    gap: 25px;
}

.second-row {
    gap: 25px;
}

.preview .text-container {
    width: 60%;
}

.preview .img-container {
    width: 40%;
    position: relative;
}

.preview h3 {
    color: var(--blue);
    font-size: 1.5rem;
    margin-bottom: 2.1875rem;
}

.preview p {
    color: var(--blueish-grey);
    font-size: 1.125rem;
    font-weight: bold;
    padding-bottom: 2.1875rem;
}

button.download {
    background-color: var(--blue);
    color: #fff;
    padding: .4375rem 3.125rem;
    font-weight: bold;
    margin-bottom: 3.75rem;
}

.preview .phone {
    max-width: 240px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.preview .col i {
    font-size: 5rem;
    color: var(--blue);
    padding-bottom: 1.5625rem;
}

.preview button .fa-apple {
    margin-right: 10px;
    font-size: 1rem;
    color: #fff;
    padding-bottom: 0;
}



/* seconda section*/

.strategic-planning {
    padding: 60px 0;
    margin-bottom: 65px;
}

.strategic-planning .col-big {
    width: 50%;
}

/*terza section*/

.partners {
    margin-bottom: 115px;
}

.partners h2 {
    margin-bottom: 50px;
}

.partners .col {
    background-color: #9792e4;
    border-radius: 15px;
    margin-bottom: 25px;
}

.partners .img-container {
    width: 25%;
    border-radius: 15px;
}

.partners .text-container {
    width: 75%;
    border-radius: 15px;
}

/*quarta sezione*/

.benefits {
    padding-bottom: 65px;
}

.benefits .container {
    gap: 30px;
    flex-wrap: wrap;
}

.benefits .col {
    background-color: #fff;
    width: calc((100% - 60px) /3);
    border-radius: 12px;
}

.benefits h2 {
    padding: 70px 0;
}

/*quinta sezione*/

.about-us {
    margin-top: 100px;
    margin-bottom: 150px;
}


.about-us .col-big {
    width: 70%;
}

.about-us .col-small {
    width: 30%;
}

/* sesta section */

.get-started {
    padding: 65px 0;
}

/* #endregion MAIN*/

/* #region FOOTER*/

footer {
    background-color: #333333;
    padding: 40px 0 45px;
    color: #fff;
}

/* #endregion FOOTER*/

/* #region MEDIA QUERES*/

/*tablet breakpoint*/
@media screen and (max-width: 992px) {

    div.container {
        max-width: 960px;
    }

    /*header*/

    .header-link ul {
        display: none;
    }

    header .header-link i {
        display: inline-block;
    }

    .strategic-planning .container {
        display: block;
    }

    .strategic-planning .col-big {
        width: 100%;
    }

    .benefits .col {
        width: calc((100% - 30px) /2)
    }

    .about-us .col-big {
        width: 60%;
    }

    .about-us .col-small {
        width: 40%;
    }

}

/*mobile breakpoint*/
@media screen and (max-width: 768px) {

    div.container {
        max-width: 720px;
    }

    /*preview*/

    .preview .first-row,
    .preview .second-row {
        flex-direction: column;
    }

    .preview .col,
    .preview .img-container,
    .preview .text-container {
        width: 100%;
        text-align: center;
    }

    .preview .img-container,
    .preview .phone {
        position: static;
    }

    .preview .phone {
        margin: 0 auto
    }

    .preview .col.big {
        flex-direction: column;
    }

    .partners .col {
        flex-direction: column;
    }

    .partners .img-container,
    .partners .text-container {
        width: 100%;
    }

    .partners .img-container {
        height: 40%;
    }

    .partners .text-container {
        height: 60%;
    }

    .benefits .container {
        flex-direction: column;
    }

    .benefits .col {
        width: 100%;
    }

    .about-us .row {
        flex-direction: column;
    }

    .about-us .col-big,
    .about-us .col-small {
        width: 100%;
        flex-grow: 1;
    }

}

/* #endregion MEDIA QUERES*/